html {
  background-image: url(images/gusto.jpg);
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

#container {
  text-align: center;
}

textarea {
  display: block;
  margin: 120px auto;
}
