html {
  background: linear-gradient(to bottom, rgb(169, 152, 204), rgb(117, 162, 130));
  background-size: auto 1500px;
}

h1 {
  background-color: white;
  border: 3px solid magenta;
  padding: 15px 0px;
  text-align: center;
}

#container {
  text-align: center;
}

#generate-button, #copy-text-button {
  border: 1px solid magenta;
  border-radius: 5px;
  box-shadow: 4px 4px;
  font-weight: bold;
  margin-top: 30px;
  padding: 10px;
}

#generate-button:hover, #copy-text-button:hover {
  background-color: magenta;
  color: rgb(17, 36, 207);
  cursor: pointer;
}

textarea {
  border: 3px solid magenta;
  display: block;
  margin: 80px auto;
}

textarea:focus {
  border: none;
}
